/* .logo-bionic-soul {
    width: 150px;
    height: auto;
} */
.navbar-brand img {
    width: 150px;
    /* Ajustez la largeur selon vos besoins */
    height: 100;
    /* Pour maintenir les proportions de l'image */
}